// ==============================================
// VARIABLES - Fonts
// ==============================================

//
//  Fonts
//  _____________________________________________

@include font-face('', '', 400);
@include font-face('', '', 500);
@include font-face('', '', 700);


//
//  Base fonts
//  _____________________________________________

$f-myfont: '';

//
//  Fonts weight
//  _____________________________________________

$f-myfont-medium: '';
$f-myfont-bold: '';

//
//  Project fonts
//  _____________________________________________

$f-base: $f-myfont;
