// ==============================================
// VARIABLES - Responsive
// ==============================================

$extra-small:       480px;
$extra-small-max:   479.98px;
$small:             640px;
$small-max:         639.98px;
$medium:            768px;
$medium-max:        767.98px;
$large:             1025px;
$large-max:         1024px;
$extra-large:       1280px;
$extra-large-max:   1279.98px;