// ==============================================
// HEADER
// ==============================================

.header__burger-button {
    background-color: #FFFFFF;
    color: #fe0100;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
  }
  
  .header__burger-line {
    display: block;
    margin-bottom: 10px;
    height: 3px;
    background: #fe0100;
    color: #fe0100;
    border-radius: 20px;
  }
  
  .header-visuals {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .logo {
    max-width: 60px;
  }

  header nav {
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: white;
    transition: .3s ease;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100vh;
      background-color: red;
      opacity: 0.2;
    }

    &.active {
      display: block;
    }
  }

  
  header nav > ul {
    padding: 10px;
  }
  
  header nav > ul li {
    display: block;
    margin: 4px 25px;
    list-style: none;
    text-align: left;  
  }
  
  header nav > ul li a {
    position: relative;
    color: #fe0100;
    font-family: "Pistilli";
    font-size: 1.2em;
  }
  
  header nav > ul li a:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 3px;
    background: red;
    border-radius: 10px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
  
  header nav > ul li a:hover:after {
    width: 100%;
  }
  
  header #hello {
    text-align: center;
    position: relative;
  }
  
  header #translation {
    position: absolute;
    top: 3%;
    left: 1%;
  }
  
  header #translation .translation_lang {
    font-weight: 100;
    font-size: 0.7em;
    color: #ffffff;
  }
  
  header .hello_title {
    margin-top: -60px;
  }
  
  .go-home {
    display: inline-block;
    // position: relative;
    // top: 15px;
    // margin: 10px 20px 10px 40px;
  }
  
  .menu {
    display: block;
    margin: auto;
  }