// ==============================================
// HEADER
// ==============================================

// Mobile

.header-mobile {


    @media screen and (min-width:768px) {
        display: none;
    }
}

.header-mobile-left, .header-mobile-right {

}

.header-mobile__logo {
    margin-right: 10px;
    max-width: 25px;
}

.header-mobile__title .title-1 {
}

.header-mobile-right > div {
}

// Desktop

.header-desktop {
    display: none;

    @media screen and (min-width:768px) {

    }
}

.header-desktop__menu {

    .title-3 {
    }

    @media screen and (min-width:768px) {
    }

    @media screen and (min-width:1024px) {
    }

    @media screen and (min-width:1680px) {
    }
}