@font-face {
  font-family: "";
  src: url("../fonts/.woff2") format("woff2"), url("../fonts/.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "";
  src: url("../fonts/.woff2") format("woff2"), url("../fonts/.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "";
  src: url("../fonts/.woff2") format("woff2"), url("../fonts/.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-size: 62.5%; }

body {
  font-family: "";
  color: #000000;
  font-size: 1.6em;
  font-weight: normal;
  font-style: normal; }

a {
  display: inline-block;
  text-decoration: none;
  color: initial; }
  a:hover {
    cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

p {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    p {
      font-size: 1.2rem; } }

ol, ul {
  list-style: none; }

button {
  font-family: "";
  background-color: transparent;
  border: none;
  border-image: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

.hidden {
  border: 0;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 0; }

.header-nav__link {
  color: #ffffff; }

.footer-nav__link {
  color: #000000; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

img {
  max-width: 100%; }

a:not([target="_blank"]) {
  text-decoration: none; }

@media screen and (min-width: 768px) {
  .header-mobile {
    display: none; } }

.header-mobile__logo {
  margin-right: 10px;
  max-width: 25px; }

.header-desktop {
  display: none; }
